<div>
  <h2>User Account</h2>
  <p>User ID: {{session.user_id}}</p>
  <p>Name: {{session.user_name}}</p>
  <p>Email: {{session.user_email}}</p>
  
  {{!-- <p>Phone Number: {{phoneNumber}}</p> --}}
  {{!-- <p>Books Checked Out:</p> --}}
  <ul>
    {{#each bookarr as |book|}}
      <p>Book Checkout: {{book.title}}</p>
    {{/each}}
  </ul>
</div>
<script src="/js/checkout.js"></script>

