
<h1>Library Dashboard</h1>
{{log books}}
{{!-- {{log bookarr}} --}}
{{!-- <table>
  <thead>
  <tbody>
    <tr>
      {{#each bookarr as |book|}}
      <div class="book">
        <h2>{{book.title}}</h2>
        <p>{{book.author}}</p>
        <p>{{book.description}}</p>
      </div>
      {{/each}}
    </tr>
  </tbody>
  </thead>
</table> --}}



<div class="book-container">
  {{#each bookarr as |book|}}
  <div class="book-card">
    <h2>{{book.title}}</h2>
    <p class="author">{{book.author}}</p>
    <p class="description">{{book.description}}</p>
  </div>
  {{/each}}
</div>

<style>
  .book-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
  }
  
  .book-card {
	background-color: #ffffff;
	border: 1px solid #dddddd;
	border-radius: 5px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
	margin: 10px;
	padding: 20px;
	width: 300px;
  }
  
  .book-card h2 {
	font-size: 24px;
	margin-bottom: 10px;
  }
  
  .book-card p.author {
	font-size: 18px;
	font-style: italic;
	margin-bottom: 10px;
  }
  
  .book-card p.description {
	font-size: 16px;
	margin-bottom: 10px;
  }
  
</style>