<link rel="stylesheet" type="text/css" href="css/dashboard.css">

<div class="book-container">
  {{#each bookarr as |book|}}
  <div class="book-card">
    <h2>{{book.title}}</h2>
    <p class="author">{{book.author}}</p>
    <p class="description">{{book.description}}</p>
    <p> {{book.image}}</p>
    <p> {{book.ISBN}}</p>
    {{!-- <button class="button">checkout</button> --}}
   <button data-bookId="{{book.id}}" class="btn btn-outline-success" id="checkout" type="submit">Check Out</button>
  </div>
  {{/each}}
</div>
<script src="/js/dashboard.js"></script>
