

<div class="book-container">
  {{#each bookarr as |book|}}
  <div class="book-card">
    <h2>{{book.title}}</h2>
    <p class="author">{{book.author}}</p>
    <p class="description">{{book.description}}</p>
    <p> {{book.image}}</p>
    {{!-- <button class="button">checkout</button> --}}
   <button data-bookId="{{book.id}}" class="btn btn-outline-success" id="checkout" type="submit">Check Out</button>
  </div>
  {{/each}}
</div>
<script src="/js/dashboard.js"></script>


<style>
 .book-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .book-card {
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    width: 300px;
  }

  .book-card h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .book-card p.author {
    font-size: 18px;
    font-style: italic;
    margin-bottom: 10px;
  }

  .book-card p.description {
    font-size: 16px;
    margin-bottom: 10px;
  } 
  </style>
